<div class="row">
  <div class="col-2">
    <input type="text" class="form-control" placeholder="Id" aria-label="First name" [(ngModel)]="id">
  </div>
  <div class="col-2">
    <input type="text" class="form-control" placeholder="Name" aria-label="Last name" [(ngModel)]="name">
  </div>
  <div class="col-2">
    <input type="text" class="form-control" placeholder="Course" aria-label="Last name" [(ngModel)]="course">
  </div>
  <button type="button" class="btn btn-primary col-2" (click)="onAddStudent()">Add Student</button>
</div>

